# The Postgres URL for the Typical Developers internal database.
# The role created should only have permissions for the schemas defined in internal/db/schema.
# It should NOT be able to write to the database at all.
POSTGRES_URL=

# The API key for OpenCloud.
# The scopes that the API key should have are:
# - universe.place.luau-execution-session:read
# - universe.place.luau-execution-session:write
OPENCLOUD_API_KEY=

# 
REDIS_HOST=
REDIS_PASSWORD=
REDIS_DB=