# The environment that the server is currently running in.
ENVIRONMENT=
# The log level that the logger should run at. If no value is provided,
# it will adjust between `info` and `debug` depending on the environment set.
LOG_LEVEL=

# The Opencloud API key necessary for accessing Roblox's Opencloud endpoints.
OPENCLOUD_KEY=

# A place version override to run when executing Luau scripts in Oaklands.
OAKLANDS_PLACE_VERSION_OVERRIDE=

# The config for the Redis instance used for ephemeral storage.
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=