# The Opencloud API key necessary for accessing Roblox's Opencloud endpoints.
OPENCLOUD_KEY=

# The config for the Redis instance used for ephemeral storage.
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=